# Ignore node_modules directory
node_modules/

# Ignore compiled files
*.log
*.gz
*.zip

# Ignore environment-specific files
.env
.env.local

# Ignore editor-specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore dependencies installed by package managers
package-lock.json
yarn.lock
